<a href="https://colab.research.google.com/github/yoingseon/LSDT/blob/master/%5B1%EC%B0%A8%5DPython_day3(%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_%EA%B9%80%ED%99%94%EC%A4%91).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("hello world")

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
x = range(10) #0~9까지 / Range는 Type이라 0~9까지의 숫자를 볼 수는 없다.
print(x)
type(x)

In [0]:
for i in x:
  print(i*i)

In [0]:
for i in range(1,20,2):
  print(i*i)

In [0]:
y = np.arange(24)
z = y.reshape(-1, 2, 3) # -1은 자동으로 뒤의 컬럼 수에 맞게 array shape을 변경

In [0]:
z

In [33]:
!pwd

/content